DB_HOST=SEU_HOST
DB_NAME=VerdNovo
DB_URL=jdbc:sqlserver://SEU_HOST:1433;databaseName=VerdNovo;encrypt=true;trustServerCertificate=true
DB_USERNAME=seu_usuario
DB_PASSWORD=sua_senha

JWT_SECRET=troque_por_uma_chave_longa_com_64_caracteres_ou_mais
ADMIN_EMAIL=admin@verdenovo.com
ADMIN_SENHA=troque_esta_senha

CORS_ALLOWED_ORIGINS=http://localhost:5173
FRONTEND_URL=http://localhost:5173

MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_USERNAME=seu_email@gmail.com
MAIL_PASSWORD=sua_app_password
MAIL_SMTP_AUTH=true
MAIL_STARTTLS_ENABLE=true
